#about-page-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
    text-align: justify;
}
#about-page img{
    width: 40%;
}

@media screen and (max-width: 600px) {
    #about-page-content{
        flex-direction: column;
        margin-bottom: 20px;
    }
    #about-page img{
        width: 100%;
    }
}
