.div{
    display:inline;
}
#mytitle {
    text-align: center;
    color: rgb(90, 12, 12);
}
#gamezone{
    border: solid 3px black;
    padding: 10px;
}
.blank_s{
    border: solid 1px black;
    margin: 1px;
    /* width: 10px;
    height: 10px */
}